/* 
Date uploaded: 1/21/2021
Author: Lindsey Costlow
Author URL: lindseymorgancostlow.com */


@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
    --white: #ffffff;
    --darkgrey: #333;
    --lightgrey: #cccccc;
    --raspberry: #8f2744;
    --lightpink: #f0b6c6;
    --lightestpink: #f8c6d5;
    --gradientlight: #962987;
    --gradientmed: #99022d;
    --gradientdark: #520f58;
    --shadow: #252525;
    --offwhite: #faecf1;
}

* {font-family: 'Jost', Helvetica;
    text-align: center;
    color: var(--offwhite);
    text-decoration: none;
}


a:hover {
    color: var(--lightpink);
}

.pink-link {
    color: var(--lightestpink);
}

a {
    overflow: hidden;
}


body {background-image: linear-gradient(to bottom right, var(--gradientdark), var(--gradientmed), var(--gradientlight));
background-repeat: no-repeat;
}


header {
    display: inline-block;
    margin: 1rem 0rem;
}

header h1 {
    display: inline-block;
    font-weight: 500;
    font-size: 3rem;
    text-align: left !important;
    margin: 0;
    padding: 2rem 5rem 0rem 0rem;
    text-shadow: 3px 3px 3px #440c1c;
}


header p {
    display: inline-block;
    font-size: 1.4rem;
    text-align: right !important;
    margin: 0;
    padding: 2rem 0rem 0rem 3rem;
    text-shadow: 3px 3px 3px #5a1126;
}

main {
    margin: 3rem;
    background-color: var(--darkgrey);
    border-radius: 1.2%;
    box-shadow: var(--shadow) 5px 5px 5px;
    display: inline-block;
}


.gallery {
    display: grid;
    grid-template-columns: 46% 52%;
    grid-gap: 2rem;
    padding: 2rem;
    justify-items: center;
    align-items: flex-start;
}

.design {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.design-header {
    font-weight: 500;
    font-size: 1.9rem;
    text-shadow: 3px 3px 3px #580a41;
    margin: 0.2rem;
}

.design-card {
    width: 80%;
    margin: 0.5rem;
    padding: 0.9rem;
    background-color: var(--shadow);
    border-radius: 2%;
    
}

.design-card img{
    width: 100%;
    padding-bottom: 1rem;
}

.card-title {
    font-size: 1.3rem;
}

.design-card p {
    padding: 0 2rem 0.6rem 2rem;
}

.art-header {
    font-weight: 500;
    font-size: 1.9rem;
    text-shadow: 3px 3px 3px #580a41;
    margin: 0.5rem 0;
}

.art-card {
    width: 87%;
    margin: 0.5rem;
    padding: 0.9rem;
    background-color: var(--shadow);
    border-radius: 2%;
}

.art-card img{
    width: 100%;
}

.art-card p {
    margin: 0.3rem;
}

.art-gallery {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    padding-top: 0.5rem;
}

.about-header {
    font-weight: 500;
    font-size: 1.9rem;
    margin-bottom: 0rem;
    text-shadow: 3px 3px 3px #580a41;
}

.about p {
    display: inline-block;
    font-size: 1.4rem;
    padding: 0rem 8rem 2rem 8rem;
    text-shadow: 2px 2px 2px #5a1126;
}

.fab {
    font-size: 2rem;
    margin: 1rem 1rem 0rem 1rem;
    text-shadow: 3px 3px 3px #6d142d;
}

footer p {
    font-size: 1.2rem;
    text-shadow: 3px 3px 3px #5a1126;
}



@media(max-width: 1011px){

    header h1 {
        padding-right: 2rem;
    }

    header p {
        padding-left: 1rem;
    }
}


@media(max-width: 858px){
    header {
        display: block;
    }
    header h1 {
        text-align: center !important;
        display: block;
        padding: 1rem;
    }

    header p {
        text-align: center !important;
        display: block;
        padding: 0;
    }

    main {
        margin: 2rem;
    }

    .fab {
        font-size: 1.6rem;
    }

    footer p {
        font-size: 1rem;
    }

    .art-card, .design-card {
        padding: 0.6rem;
    }

    .design-card p {
        padding: 0;
    }
}



@media(max-width: 610px){

    .site-text {
        padding: 0 !important;
    }

    .about p {
        padding: 0 2rem;
    }

    .art-gallery {
        display: flex;
        flex-direction: column;
    }

    .sold-card {
        display: none;
    }
}



@media(max-width: 543px){

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.3rem;
    }

    .gallery-text {
        font-size: 1.6rem;
    }

    .first-gallery-text {
        margin-top: 1.7rem;
    }
}


@media(max-width: 460px){

    header h1 {
        font-size: 2.21rem;
    }

    header p {
        font-size: 1.2rem;
    }

    .gallery-text {
        font-size: 1.4rem;
    }

    main {
        margin: 1rem;
    }

    .gallery {
        grid-gap: 1rem;
        padding: 1rem;
        align-items: flex-start;
    }

    .design-header {
        margin: 0.9rem 0;
    }


}



@media(max-width: 413px){

    header h1 {
        font-size: 2.1rem;
    }

    main {
        margin: 0.5rem;
    }



}


@media(max-width: 399px){

    header h1 {
        font-size: 2.1rem;
        padding: 1rem 0.2rem;
    }

    .fab {
        font-size: 1.4rem;
    }

    footer p {
        font-size: 0.9rem;
    }
}


@media(max-width: 369px){

    header h1 {
        font-size: 1.8rem;
    }

    header p {
        font-size: 1.1rem;
    }

    main {
        margin: 1rem;
    }

    .gallery-text {
        font-size: 1.3rem;
    }

    .first-gallery-text {
        margin: 1.5rem 0.5rem 0.5rem 0.5rem;
    }

}


@media(max-width: 319px){

    header h1 {
        font-size: 1.6rem;
    }

    header p {
        font-size: 1rem;
    }

    .gallery-text {
        font-size: 1.2rem;
    }

    .first-gallery-text {
        margin: 1rem 0.5rem 0.5rem 0.5rem;
    }

    main {
        margin: 0.6rem;
    }

    .fab {
        font-size: 1.2rem;
    }

    footer p {
        font-size: 0.8rem;
        margin: 0.3rem;
    }
}
