/* 
Date uploaded: 3/26/2021
Author: Lindsey Costlow
Author URL: lindseymorgancostlow.com */


@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost;
    font-weight: 200 !important;
    max-width: 100%;
}

.background {
    background-color: black;
}

main {
    color: white;
    
}

.above-fold {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}


img {
    filter: grayscale(70%);
    transition: 0.3s;
}

img:hover {
    filter: grayscale(0%);
}




.headings {
    padding: 0rem 0rem 0rem 6rem;
}

.headings h1 {
    font-size: 4.6rem;
}

.headings h2 {
    padding: 1rem 0 1.5rem 0;
}


.social-links {
    font-size: 2rem;
    padding: 0;
}

.social-link {
    padding: 0 1.2rem 0 0;
}

a {
    text-decoration: none !important;
    color: rgb(223, 223, 223) !important;
    transition: 0.3s;
}

a:hover {
    color: white !important;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.466);
}


.card-title {
    font-weight: 300 !important;
}

.card-p {
    font-size: 1.8rem;
    
}


.design {
    background-color: black;
    color: white;
    width: 100vw;
    
}


.art-app {
    padding: 1rem 13rem 15rem 13rem;
}

.art-app-links {
    font-size: 1.5rem;
}


.RBC {
    padding: 1rem 13rem 15rem 13rem;
}

.rbc-links {
    font-size: 1.5rem;
}

.plenti {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 2rem;
    padding: 1rem 9rem 15rem 9rem;
}

.plentitext {
    text-align: right;
    align-self: center;
}

.plentiimg img {
    width: 60%;
    border-radius: 20%;
}

.plenti-link {
    font-size: 1.5rem;
}


.RL {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 1rem 9rem 15rem 9rem;
    grid-gap: 2rem;
}

.RLtext {
    align-self: center;
    width: 100%;
}

.RLimg img {
    width: 100%;
    border-radius: 1%;
}

.RL-links {
    font-size: 1.5rem;
}



.NB {
    text-align: center;
    padding: 1rem 9rem 10rem 9rem;
}

.NB h2 {
    font-size: 1.8rem;
}

.NBimg {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 100%;
    justify-content: space-evenly;
    padding: 1rem 0;
}

.NBimg img {
    width: 100%;
    border-radius: 1%;
}


.about {
    padding: 1rem 12rem 5rem 12rem;
    text-align: center;
}

.about-p {
    font-size: 1.6rem;
}



footer {
    background-color: black;
    text-align: center;
    padding: 1.5rem;
}

.social-links-footer {
    font-size: 2rem;
    padding: 0;
}

.social-link-f {
    padding: 1rem;
}


@media(max-width:801px){
    
    .card-p {
        font-size: 1.3rem;
    }

    .art-app {
        padding: 1rem 4rem 8rem 4rem;
    }

    .RBC {
        padding: 1rem 4rem 8rem 4rem;
    }
    
    .plenti {
        padding: 1rem 2rem 8rem 2rem;
    }

    .RL {
        padding: 1rem 2rem 8rem 2rem;
    }

    .RLtext p {
        max-width: 92%;
    }

    .NB {
        padding: 1rem 2rem 8rem 2rem;
    }
}

@media(max-width: 600px) {

    .headings {
        padding: 0rem 0rem 0rem 4rem;
    }

    .plentiimg, .RLimg {
        align-self: center;
    } 

    .card-title {
        font-size: 1.7rem;
    }

    .RL-links {
        font-size: 1.3rem;
    }
}

@media(max-width: 415px) {
    
    .headings {
        padding: 0 0 0 2.5rem;
    }

    .art-app {
        padding: 1rem 3rem 6rem 3rem;
    }

    .RBC {
        padding: 1rem 3rem 6rem 3rem;
    }
    
    .plenti {
        display: flex;
        flex-direction: column-reverse;
        padding: 1rem 2rem 6rem 2rem;
    }

    .plentitext {
        text-align: center;
    }

    .plentiimg {
        width: 40%;
        text-align: center;
        
    }

    .RL {
        padding: 1rem 2rem 6rem 2rem;
        display: flex;
        flex-direction: column;
    }

    .RLimg {
        width: 60%;
    }

    .RLtext {
        text-align: center;
    }

    .RLtext p {
        max-width: 100%;
    }

    .NB {
        padding: 1rem 2rem 4rem 2rem;
    }

    .NBimg {
        display: flex;
        flex-wrap: wrap;
        
    }

    .NBimg img {
        padding: 1rem;
        width: 80%;
    }

    .social-links-footer {
        font-size: 1.6rem;
    }
}

@media(max-width:370px) {
    .headings {
        padding: 0 0 0 1.2rem;
    }
}
