@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,700;1,400&display=swap');

:root {
    --white: #ffffff;
    --darkgrey: #333;
    --lightgrey: #cccccc;
    --raspberry: #8f2744;
    --lightpink: #f3c2d0;
    --gradientlight: #962987;
    --gradientmed: #99022d;
    --gradientdark: #520f58;
    --shadow: #252525;
    --offwhite: #f8e5eb;
}

* {font-family: 'Jost', Helvetica;
    text-align: center;
    color: var(--offwhite);
    text-decoration: none;
}

.caption {
    overflow: hidden;
    display: block;
}

a:hover {
    color: var(--lightpink);
}

body {background-image: linear-gradient(to bottom right, var(--gradientdark), var(--gradientmed), var(--gradientlight));
background-repeat: no-repeat;
}


header {
    display: inline-block;
    margin: 1rem 0rem;
}

header h1 {
    display: inline-block;
    font-weight: 500;
    font-size: 3rem;
    text-align: left !important;
    margin: 0;
    padding: 2rem 5rem 0rem 0rem;
    text-shadow: 3px 3px 3px #440c1c;
}


header p {
    display: inline-block;
    font-size: 1.4rem;
    text-align: right !important;
    margin: 0;
    padding: 2rem 0rem 0rem 3rem;
    text-shadow: 3px 3px 3px #5a1126;
}

main {
    margin: 3rem;
    background-color: var(--darkgrey);
    border-radius: 1.2%;
    box-shadow: var(--shadow) 5px 5px 5px;
    display: inline-block;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 1.5rem;
}

.gallery-text {
    font-weight: 500;
    font-size: 1.9rem;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    text-shadow: 3px 3px 3px #580a41;
}

.art-for-sale {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.websites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.other-work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.site-text {
    margin: 0.5rem 0rem 0rem 0rem;
}

.image {
    width: 28%;
    margin: 1rem;
    background-color: var(--shadow);
    border-radius: 2%;
    padding: 0.5rem;
}

.image img{
    width: 100%;
}

.fab {
    font-size: 2rem;
    margin: 1rem 1rem 0rem 1rem;
    text-shadow: 3px 3px 3px #6d142d;
}

footer p {
    font-size: 1.2rem;
    text-shadow: 3px 3px 3px #5a1126;
}



@media(max-width: 1011px){
    
    .image {
        width: 40%;
    }

    header h1 {
        padding-right: 2rem;
    }

    header p {
        padding-left: 1rem;
    }
}


@media(max-width: 858px){
    header {
        display: block;
    }
    header h1 {
        text-align: center !important;
        display: block;
        padding: 1rem;
    }

    header p {
        text-align: center !important;
        display: block;
        padding: 0;
    }

    main {
        margin: 2rem;
    }

    .fab {
        font-size: 1.6rem;
    }

    footer p {
        font-size: 1rem;
    }
}



@media(max-width: 560px){

    .image {
        margin: 0.5rem;
    }
}



@media(max-width: 543px){

    header h1 {
        font-size: 2.5rem;
    }

    header p {
        font-size: 1.3rem;
    }

    .gallery-text {
        font-size: 1.6rem;
    }
}


@media(max-width: 460px){

    header h1 {
        font-size: 2.21rem;
    }

    header p {
        font-size: 1.2rem;
    }

    .gallery-text {
        font-size: 1.4rem;
    }
}



@media(max-width: 413px){

    header h1 {
        font-size: 2.1rem;
    }
}


@media(max-width: 399px){

    header h1 {
        font-size: 2.1rem;
        padding: 1rem 0.2rem;
    }

    .image {
        width: 35%;
    }

    .fab {
        font-size: 1.4rem;
    }

    footer p {
        font-size: 0.9rem;
    }
}


@media(max-width: 369px){

    header h1 {
        font-size: 1.8rem;
    }

    header p {
        font-size: 1.1rem;
    }

    main {
        margin: 1rem;
    }

    .gallery-text {
        font-size: 1.3rem;
    }

    .first-gallery-text {
        margin: 1.5rem 0.5rem 0.5rem 0.5rem;
    }

    .image {
        margin: 0.3rem;
    }
}


@media(max-width: 319px){

    header h1 {
        font-size: 1.6rem;
    }

    header p {
        font-size: 1rem;
    }

    .gallery-text {
        font-size: 1.2rem;
    }

    .first-gallery-text {
        margin: 1rem 0.5rem 0.5rem 0.5rem;
    }

    main {
        margin: 0.6rem;
    }

    .image {
        width: 39%;
    }

    .fab {
        font-size: 1.2rem;
    }

    footer p {
        font-size: 0.8rem;
        margin: 0.3rem;
    }
}
